.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary--light, 0.8),
                  rgba($color-primary--dark, 0.8));
  /*background-image: url("../img/background_img.jpg");*/
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);

  @include mQuery(tab-land){
    clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
  }

  @include mQuery(tab-port){
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  @include mQuery(phone){
    clip-path: none;
    height: 90vh;
  }
  /*
  LOGO CONTAINER WITH LOGO
  */
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 6.5rem;
  }

  /*
  TEXT BOX FOR HEADING OF HEADER
  */
  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    text-align: center;
  }

}