
body {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

/*
 HEADING PRIMARY PART OF HEADER
*/

.heading-primary {
  color: $color-black;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: 1.5rem;
    text-align: center;
    animation: moveInLeft 1s ease-out;

    @include mQuery(tab-land){
      font-size: 4rem;
    }

    @include mQuery(tab-port){
      font-size: 3rem;
      letter-spacing: 1rem;
    }

    @include mQuery(phone){
      font-size: 2rem;
      letter-spacing: .8rem;
    }

  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation: moveInRight 1s ease-out;

    @include mQuery(tab-land){
      font-size: 1.7rem;
      letter-spacing: 1rem;
    }

    @include mQuery(tab-port){
      font-size: 1.5rem;
      letter-spacing: 1rem;
    }

    @include mQuery(phone){
      font-size: 1rem;
      letter-spacing: 1rem;
    }
  }


}

.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary--light, $color-primary--dark);
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  color: transparent;
  transition: all .2s;

  @include mQuery(tab-land){
    font-size: 3rem;
  }

  @include mQuery(tab-port){
    font-size: 2.5rem;
  }

  @include mQuery(phone){
    font-size: 2rem;
  }

  &:hover{
    transform: skewY(2deg);
  }
}

.heading-tertiary{
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;

  @include mQuery(tab-land){
    font-size: 1.5rem;
  }

}
.paragraph{
  font-size: 1.6rem;

  @include mQuery(tab-land){
    font-size: 1.5rem;
  }
  &:not(:last-child){
    margin-bottom: 6rem;
  }
}
/*
 FINISH
*/