.u-center-text{
  text-align: center !important;
}

.u-margin-bottom{
  &-big{
    margin-bottom: 8rem !important;

    @include mQuery(tab-port){
      margin-bottom: 5rem !important;
    }
  }

  &-medium{
    margin-bottom: 4rem !important;

    @include mQuery(tab-port){
      margin-bottom: 3rem !important;
    }
  }

  &-small{
    margin-bottom: 2rem !important;
  }
}

.u-margin-top{
  &-big{
    margin-top: 8rem;
  }

  &-medium{
    margin-top: 4rem;
  }

  &-small{
    margin-top: 2rem;
  }
}


.u-padding-bottom{
  &-big{
    padding-bottom: 8rem;
  }

  &-medium{
    padding-bottom: 4rem;
  }

  &-small{
    padding-bottom: 2rem;
  }
}

.u-padding-top{
  &-big{
    padding-top: 8rem;
  }

  &-medium{
    padding-top: 4rem;
  }

  &-small{
    padding-top: 2rem;
  }
}
