.section-about{
  background-color: $color-gray-light;
  padding: 25rem 0;
  margin-top: -20vh;

  &__text-box{
    display: block;
  // Empty for now, there is no need adjustment for box
  }
}

.section-features{
  background-image: linear-gradient(to right bottom, $color-primary--dark,$color-primary--light);
  padding: 20rem 0;
  margin-top: -20vh;
  transform: skew(0deg, -7deg);
  &>*{
    transform: skew(0deg, 7deg);
  }
}